src/main/mule/estore-sfdc-system-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd    http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd    http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd    http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd   http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
    <flow name="estore-sfdc-system-api-main">
        <http:listener config-ref="estore-sfdc-system-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="estore-sfdc-system-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\ping:estore-sfdc-system-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "ping successful"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\lead:application\json:estore-sfdc-system-api-config">
        <ee:transform doc:name="Transform Message" doc:id="cce73732-b2e2-4ea1-aa39-ec9006efe3e1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map() -> {
	"FirstName": $.firstname,
	"LastName": $.lastname,
	"Company": $.company,
	"Status": $.status
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:create type="Lead" doc:name="Create" doc:id="f6060627-8f62-4359-a7e3-e8520876cbdd" config-ref="Salesforce_Config"/>
		 <logger level="INFO" doc:name="Logger" doc:id="065c7876-4dcc-4553-9bf1-5d3a55011b95" message="#[output application/json --- payload]" />
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  response: {
  	  message: "create lead successful",
  	  createdlead: payload.items map() -> {
  	  	id: $.id,
  	  	status: $.successful
  	  }
  }

} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="97c65e67-df93-448b-ab0b-c8340813e69d" message="#[output application/json --- payload]"/>
    </flow>
    <flow name="get:\lead\(Id):estore-sfdc-system-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="Id">attributes.uriParams.'Id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" doc:name="Logger" doc:id="cb8f79ee-f916-44b5-b879-cc8d4542eca7" message="#[vars.Id]" />
        <salesforce:query doc:name="Lead" doc:id="95c69ae6-38e9-4986-b7d5-8ddccb88e14f" config-ref="Salesforce_Config">
            <salesforce:salesforce-query><![CDATA[${leadbyid.select}]]></salesforce:salesforce-query>
            <salesforce:parameters><![CDATA[#[output application/java
---
{
	'Id' : vars.Id
}]]]></salesforce:parameters>
        </salesforce:query>
		<logger level="INFO" doc:name="Logger" doc:id="db609a09-688f-4cb0-a0fc-8b9f69db8de2" message="#[output application/json --- payload]" />
        <ee:transform doc:name="Transform Message" doc:id="c3ae6e7c-22e9-4020-b58e-fcfbccb5a3f2">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\lead:estore-sfdc-system-api-config">
        <ee:transform doc:name="queryparameters" doc:id="e6f97375-b8ee-48a5-b874-fd6eec691452" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="queryparameters" ><![CDATA[%dw 2.0
output application/json
---
{
	"leadname": attributes.queryParams.'leadname' default null,
	"company": attributes.queryParams.'company' default null
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="8353b233-f1cc-44c7-8f1d-b2f62c249473" message='#[vars.queryparameters]' />
		<choice doc:name="Choice" doc:id="4a6d7219-eb28-47b5-a785-d92648b9fbf9" >
			<when expression="#[vars.queryparameters.leadname != null]">
				<salesforce:query doc:name="Lead" doc:id="e79970b3-b775-4e2c-bef8-dc2a1b860e9c" config-ref="Salesforce_Config">
            <salesforce:salesforce-query><![CDATA[${leadbyleadname.select}]]></salesforce:salesforce-query>
            <salesforce:parameters><![CDATA[#[output application/java
---
{
	'leadname' : vars.queryparameters.leadname
}]]]></salesforce:parameters>
        </salesforce:query>
			</when>
			<when expression="#[vars.queryparameters.company != null]">
				<salesforce:query doc:name="Lead" doc:id="8c25c3f4-676a-456e-a936-e321970f4125" config-ref="Salesforce_Config">
            <salesforce:salesforce-query><![CDATA[${leadbycompany.select}]]></salesforce:salesforce-query>
            <salesforce:parameters><![CDATA[#[output application/java
---
{
	'company' : vars.queryparameters.company
}]]]></salesforce:parameters>
        </salesforce:query>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="8594068a-c2ca-4480-9167-32f2dd46e973" message="#['queryparams not provided.']"/>
			</otherwise>
		</choice>
        <logger level="INFO" doc:name="Logger" doc:id="072f946b-3177-4db6-9803-5d25df2c2a90" message="#[output application/json --- payload]" />
        <ee:transform doc:name="Transform Message" doc:id="e8a135d4-f08d-44b3-a987-b990946d401c">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\removeleads:application\json:estore-sfdc-system-api-config">
        <ee:transform doc:name="Transform Message" doc:id="8811081c-0140-456f-8409-27416b53a432" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload.leadidsfordelete]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		 <salesforce:delete doc:name="Delete" doc:id="c88ecbc9-b9f0-44be-a943-eccceffdaad1" config-ref="Salesforce_Config">
			<salesforce:ids ><![CDATA[#[payload]]]></salesforce:ids>
		</salesforce:delete>
		 <logger level="INFO" doc:name="Logger" doc:id="2da01d6d-5d9e-4a04-a472-5d769c17b465" message="#[output application/json --- payload]" />
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  response: {
  	  message: "remove lead successful",
  	  removedleadstatus: payload.items map() -> {
  	  	id: $.id,
  	  	status: $.successful
  	  }
  }

} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
