src/main/mule/opportunity-obj.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<flow name="get:\opportunity:estore-sfdc-system-api-config">
        <ee:transform doc:name="queryparameters" doc:id="614b81b2-6e1b-4787-88c9-691a825c4cf2" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="queryparameters" ><![CDATA[%dw 2.0
output application/json
---
{
	"opportunityname": attributes.queryParams.'opportunityname' default null
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="get-opportunitySubFlow" doc:id="cfa3b3b8-9d35-45df-895f-3abc4adf90aa" name="get-opportunitySubFlow"/>
    </flow>
    <flow name="put:\opportunity\(Id):estore-sfdc-system-api-config">
 		 <ee:transform doc:name="uri-params">
            <ee:variables>
                <ee:set-variable variableName="Id">attributes.uriParams.'Id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="update-opportunity-by-idSubFlow" doc:id="985b8d99-7e74-44ea-acdb-2b193becf4ec" name="update-opportunity-by-idSubFlow"/>
    </flow>
    <flow name="post:\opportunity\product:estore-sfdc-system-api-config">
    	 <ee:transform doc:name="var-opportunityname">
            <ee:variables>
                <ee:set-variable variableName="opportunityname">payload.opportunityname</ee:set-variable>
            </ee:variables>
        </ee:transform>
    	<flow-ref doc:name="create-opportunityproductSubFlow" doc:id="6a424473-17a9-4097-acba-1419694bba91" name="create-opportunityproductSubFlow"/>  
    </flow>
    <flow name="post:\opportunity\removeproduct:estore-sfdc-system-api-config">
    	<ee:transform doc:name="var-opportunityname">
            <ee:variables>
                <ee:set-variable variableName="opportunityname">payload.opportunityname</ee:set-variable>
            </ee:variables>
        </ee:transform>
    	<flow-ref doc:name="remove-opportunityproductSubFlow" doc:id="e5934b3b-fc37-41a9-8365-0c64b18ff540" name="remove-opportunityproductSubFlow"/>  
    </flow>
	<sub-flow name="get-opportunitySubFlow" doc:id="b3121f60-95af-4c94-abf3-1961ec384900">
        <salesforce:query doc:name="get-opportunity-by-name" doc:id="a4c4d832-96a2-4e6e-9196-dd36b96a6cd2" config-ref="Salesforce_Config">
            <salesforce:salesforce-query><![CDATA[${opportunitybyname.select}]]></salesforce:salesforce-query>
            <salesforce:parameters><![CDATA[#[output application/java
---
{
	'opportunityname' : vars.queryparameters.opportunityname
}]]]></salesforce:parameters>
        </salesforce:query>
		<ee:transform doc:name="get-opportunity-by-name-response.dwl" doc:id="4ded126e-0269-465e-ab5e-02627e88c3bf">
            <ee:message>
				<ee:set-payload resource="dwl/get-opportunity-by-name-response.dwl" />
            </ee:message>
        </ee:transform>
	</sub-flow>
	<sub-flow name="update-opportunity-by-idSubFlow" doc:id="f06b642b-5805-47d4-abf9-f24f943080db">
		<salesforce:query doc:name="get-opportunity-by-id" doc:id="30e3ee7f-267c-4ef6-b021-48615943427c" config-ref="Salesforce_Config" target="opportunityrecord">
            <salesforce:salesforce-query><![CDATA[${opportunitybyid.select}]]></salesforce:salesforce-query>
            <salesforce:parameters><![CDATA[#[output application/java
---
{
	'Id' : vars.Id
}]]]></salesforce:parameters>
        </salesforce:query>
		<choice doc:name="Choice" doc:id="249e237f-dd0d-4b79-a205-f57a28ead059" >
			<when expression="#[vars.opportunityrecord.Id?]">
				<salesforce:query doc:name="get-pricebook-by-name" doc:id="4be53cd4-7e03-4c84-a9ba-53850d989e95" config-ref="Salesforce_Config" target="pricebook">
            <salesforce:salesforce-query><![CDATA[${pricebookbyname.select}]]></salesforce:salesforce-query>
            <salesforce:parameters><![CDATA[#[output application/java
---
{
	'pricebookname' : payload.opportunitypricebook
}]]]></salesforce:parameters>
        </salesforce:query>
				<ee:transform doc:name="update-opportunity-by-id-request" doc:id="156c57a1-d8da-45d3-8eee-98b4b13ad024">
            <ee:message>
				<ee:set-payload resource="dwl/update-opportunity-by-id-request.dwl" />
            </ee:message>
        </ee:transform>
				<salesforce:update type="Opportunity" doc:name="update-opportunity" doc:id="5ae1c046-b391-42e4-97ad-fc63cab979da" config-ref="Salesforce_Config" />
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="6137ccca-8de4-48a3-b2c0-ada352784c82" message="#['Opportunity Record doesnot exists']"/>
			</otherwise>
		</choice>
		<ee:transform doc:name="get-opportunity-by-id-response" doc:id="be976c7c-59b1-4844-9c77-f1179890098f">
            <ee:message>
				<ee:set-payload resource="dwl/update-opportunity-by-id-response.dwl" />
            </ee:message>
        </ee:transform>
	</sub-flow>
	<sub-flow name="create-opportunityproductSubFlow" doc:id="ecbff75b-f627-4939-883f-4f5c3e3e2de7">
		<salesforce:query doc:name="get-opportunity-by-name" doc:id="3c387b8d-472f-4d31-a53f-9d208f5109ef" config-ref="Salesforce_Config" target="opportunityrecord">
            <salesforce:salesforce-query><![CDATA[${opportunitybyname.select}]]></salesforce:salesforce-query>
            <salesforce:parameters><![CDATA[#[output application/java
---
{
	'opportunityname' : vars.opportunityname
}]]]></salesforce:parameters>
        </salesforce:query>
		<choice doc:name="Choice" doc:id="7f9b778c-8469-47be-b738-47225c8feee9" >
			<when expression="#[vars.opportunityrecord[0].Id != null and vars.opportunityrecord[0].Pricebook2Id != null]">
		 		<ee:transform doc:name="get-products-by-productcodelist-dynamicquery" doc:id="859d9659-60f3-4309-95d4-182533908b8a" >
					<ee:message >
					</ee:message>
					<ee:variables >
						<ee:set-variable resource="dwl/retrieve-productid-from-productcode.dwl" variableName="dynamicquery" />
					</ee:variables>
				</ee:transform>
				<salesforce:query doc:name="get-product-by-productcode" doc:id="4726013d-e565-4bbd-ae8a-a881e5a24ec5" config-ref="Salesforce_Config" target="productlist">
		            <salesforce:salesforce-query><![CDATA[#[vars.dynamicquery.query]]]></salesforce:salesforce-query> 
		        </salesforce:query>
				<ee:transform doc:name="get-pricebookentry-by-productcodelist-dynamicquery" doc:id="d67f59f9-d467-4c21-8d92-0d68c36bc576" >
					<ee:message >
					</ee:message>
					<ee:variables >
						<ee:set-variable resource="dwl/retrieve-pricebookentry-from-productcode.dwl" variableName="dynamicquery" />
					</ee:variables>
				</ee:transform>
				<salesforce:query doc:name="get-product-by-productcode" doc:id="c6253e11-ea93-42f4-98c9-c7d89fb9af7c" config-ref="Salesforce_Config" target="pricebookentrylist">
		            <salesforce:salesforce-query><![CDATA[#[vars.dynamicquery.query]]]></salesforce:salesforce-query> 
		        </salesforce:query>
				<ee:transform doc:name="cerate-opportunity-product-request" doc:id="9e12384c-49c7-4470-93c3-655659f5f55e" >
					<ee:message >
						<ee:set-payload resource="dwl/cerate-opportunity-product-request.dwl" />
					</ee:message>
				</ee:transform>
				<salesforce:create type="OpportunityLineItem" doc:name="CreateOpportunityProduct" doc:id="8875faeb-552b-452a-a9e9-6dfea17e8f56" config-ref="Salesforce_Config"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="e9f8168c-e70f-4a4f-a74b-4f759e40cc33" message="#['Opportunity Record doesnot exists or pricebookId is blank']"/>
			</otherwise>
		</choice>
		<ee:transform doc:name="cerate-opportunity-product-response" doc:id="17928864-6be1-462f-82ca-ba3b77bc9cd9">
            <ee:message>
				<ee:set-payload resource="dwl/create-opportunity-product-response.dwl" />
            </ee:message>
        </ee:transform>
	</sub-flow>
	<sub-flow name="remove-opportunityproductSubFlow" doc:id="ab967f30-eb82-4018-86e9-741669d5ada7">
		<salesforce:query doc:name="get-opportunity-by-name" doc:id="cb24f6e0-47a3-4cd9-93fe-c0312958e44a" config-ref="Salesforce_Config" target="opportunityrecord">
            <salesforce:salesforce-query><![CDATA[${opportunitybyname.select}]]></salesforce:salesforce-query>
            <salesforce:parameters><![CDATA[#[output application/java
---
{
	'opportunityname' : vars.opportunityname
}]]]></salesforce:parameters>
        </salesforce:query>
        <choice doc:name="Choice" doc:id="aa097d46-e2a0-4109-87ca-605c08363483" >
			<when expression="#[vars.opportunityrecord[0].Id != null]">
				<ee:transform doc:name="retrieve-products-from-opportunity-dynamicquery" doc:id="06b84357-567a-48c8-b507-c8ed0c421e07" >
					<ee:message >
					</ee:message>
					<ee:variables >
						<ee:set-variable resource="dwl/retrieve-products-from-opportunity.dwl" variableName="dynamicquery" />
					</ee:variables>
				</ee:transform>
				<salesforce:query doc:name="get-product-by-productcode" doc:id="0478f4c6-75c0-49d4-92f4-18129f444be5" config-ref="Salesforce_Config" target="opportunityproductremovelist">
		            <salesforce:salesforce-query><![CDATA[#[vars.dynamicquery.query]]]></salesforce:salesforce-query> 
		        </salesforce:query>
		        <ee:transform doc:name="remove-opportunity-product-request" doc:id="b3e1518b-6ffe-4374-a163-13bd9a0e8654" >
					<ee:message >
						<ee:set-payload resource="dwl/remove-opportunity-product-request.dwl" />
					</ee:message>
				</ee:transform>
				<salesforce:delete doc:name="delete-by-ids" doc:id="cadd0f58-15a4-4a33-b5cb-b0b687658645" config-ref="Salesforce_Config">
					<salesforce:ids ><![CDATA[#[payload]]]></salesforce:ids>
				</salesforce:delete>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="2a88ee93-a418-4139-a540-ee200bd92e80" message="#['Opportunity Record doesnot exists']"/>
			</otherwise>
		</choice>
		<ee:transform doc:name="remove-opportunity-product-response" doc:id="a7d9a12c-e0dd-442a-8c8d-20a1899ec446">
            <ee:message>
				<ee:set-payload resource="dwl/remove-opportunity-product-response.dwl" />
            </ee:message>
        </ee:transform>
	</sub-flow>
</mule>
