src/main/mule/opportunity-obj.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<flow name="get:\opportunity:estore-sfdc-system-api-config">
        <ee:transform doc:name="queryparameters" doc:id="614b81b2-6e1b-4787-88c9-691a825c4cf2" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="queryparameters" ><![CDATA[%dw 2.0
output application/json
---
{
	"opportunityname": attributes.queryParams.'opportunityname' default null
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="get-opportunitySubFlow" doc:id="cfa3b3b8-9d35-45df-895f-3abc4adf90aa" name="get-opportunitySubFlow"/>
    </flow>
	<flow name="get:\opportunity\quote:estore-sfdc-system-api-config">
        <ee:transform doc:name="queryparameters" doc:id="8e49e7de-3610-47c1-ace4-594cef8d8bba" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="queryparameters" ><![CDATA[%dw 2.0
output application/json
---
{
	"opportunityname": attributes.queryParams.'opportunityname' default null
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="get-opportunityquoteSubFlow" doc:id="01047068-39eb-48ef-8dff-20bd06d77fe0" name="get-opportunityquoteSubFlow"/>
    </flow>
    <flow name="put:\opportunity\(Id):estore-sfdc-system-api-config">
 		 <ee:transform doc:name="uri-params">
            <ee:variables>
                <ee:set-variable variableName="Id">attributes.uriParams.'Id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="update-opportunity-by-idSubFlow" doc:id="985b8d99-7e74-44ea-acdb-2b193becf4ec" name="update-opportunity-by-idSubFlow"/>
    </flow>
    <flow name="post:\opportunity\product:estore-sfdc-system-api-config">
    	 <ee:transform doc:name="var-opportunityname">
            <ee:variables>
                <ee:set-variable variableName="opportunityname">payload.opportunityname</ee:set-variable>
            </ee:variables>
        </ee:transform>
    	<flow-ref doc:name="create-opportunityproductSubFlow" doc:id="6a424473-17a9-4097-acba-1419694bba91" name="create-opportunityproductSubFlow"/>  
    </flow>
    <flow name="post:\opportunity\removeproduct:estore-sfdc-system-api-config">
    	<ee:transform doc:name="var-opportunityname">
            <ee:variables>
                <ee:set-variable variableName="opportunityname">payload.opportunityname</ee:set-variable>
            </ee:variables>
        </ee:transform>
    	<flow-ref doc:name="remove-opportunityproductSubFlow" doc:id="e5934b3b-fc37-41a9-8365-0c64b18ff540" name="remove-opportunityproductSubFlow"/>  
    </flow>
    <flow name="post:\opportunity\quote:estore-sfdc-system-api-config">
    	 <ee:transform doc:name="var-opportunityname">
            <ee:variables>
                <ee:set-variable variableName="opportunityname">payload.opportunityname</ee:set-variable>
                <ee:set-variable variableName="quotename">payload.quotename</ee:set-variable>
            </ee:variables>
        </ee:transform>
    	<flow-ref doc:name="create-opportunityquoteSubFlow" doc:id="85a59adb-fce8-4fb0-a5d5-431db0eba443" name="create-opportunityquoteSubFlow"/>  
    </flow>
    <flow name="post:\deletequotes:application\json:estore-sfdc-system-api-config">
		<flow-ref doc:name="deletequotesSubFlow" doc:id="d0231105-af46-4a5f-8dcd-4b1df30a1efa" name="deletequotesSubFlow"/>
    </flow>
	<sub-flow name="get-opportunitySubFlow" doc:id="b3121f60-95af-4c94-abf3-1961ec384900">
        <salesforce:query doc:name="get-opportunity-by-name" doc:id="a4c4d832-96a2-4e6e-9196-dd36b96a6cd2" config-ref="Salesforce_Config">
            <salesforce:salesforce-query><![CDATA[${opportunitybyname.select}]]></salesforce:salesforce-query>
            <salesforce:parameters><![CDATA[#[output application/java
---
{
	'opportunityname' : vars.queryparameters.opportunityname
}]]]></salesforce:parameters>
        </salesforce:query>
		<ee:transform doc:name="get-opportunity-by-name-response.dwl" doc:id="4ded126e-0269-465e-ab5e-02627e88c3bf">
            <ee:message>
				<ee:set-payload resource="dwl/get-opportunity-by-name-response.dwl" />
            </ee:message>
        </ee:transform>
	</sub-flow>
	<sub-flow name="update-opportunity-by-idSubFlow" doc:id="f06b642b-5805-47d4-abf9-f24f943080db">
		<salesforce:query doc:name="get-opportunity-by-id" doc:id="30e3ee7f-267c-4ef6-b021-48615943427c" config-ref="Salesforce_Config" target="opportunityrecord">
            <salesforce:salesforce-query><![CDATA[${opportunitybyid.select}]]></salesforce:salesforce-query>
            <salesforce:parameters><![CDATA[#[output application/java
---
{
	'Id' : vars.Id
}]]]></salesforce:parameters>
        </salesforce:query>
		<choice doc:name="Choice" doc:id="249e237f-dd0d-4b79-a205-f57a28ead059" >
			<when expression="#[vars.opportunityrecord.Id?]">
				<salesforce:query doc:name="get-pricebook-by-name" doc:id="4be53cd4-7e03-4c84-a9ba-53850d989e95" config-ref="Salesforce_Config" target="pricebook">
            <salesforce:salesforce-query><![CDATA[${pricebookbyname.select}]]></salesforce:salesforce-query>
            <salesforce:parameters><![CDATA[#[output application/java
---
{
	'pricebookname' : payload.opportunitypricebook
}]]]></salesforce:parameters>
        </salesforce:query>
				<ee:transform doc:name="update-opportunity-by-id-request" doc:id="156c57a1-d8da-45d3-8eee-98b4b13ad024">
            <ee:message>
				<ee:set-payload resource="dwl/update-opportunity-by-id-request.dwl" />
            </ee:message>
        </ee:transform>
				<salesforce:update type="Opportunity" doc:name="update-opportunity" doc:id="5ae1c046-b391-42e4-97ad-fc63cab979da" config-ref="Salesforce_Config" />
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="6137ccca-8de4-48a3-b2c0-ada352784c82" message="#['Opportunity Record doesnot exists']"/>
			</otherwise>
		</choice>
		<ee:transform doc:name="get-opportunity-by-id-response" doc:id="be976c7c-59b1-4844-9c77-f1179890098f">
            <ee:message>
				<ee:set-payload resource="dwl/update-opportunity-by-id-response.dwl" />
            </ee:message>
        </ee:transform>
	</sub-flow>
	<sub-flow name="create-opportunityproductSubFlow" doc:id="ecbff75b-f627-4939-883f-4f5c3e3e2de7">
		<salesforce:query doc:name="get-opportunity-by-name" doc:id="3c387b8d-472f-4d31-a53f-9d208f5109ef" config-ref="Salesforce_Config" target="opportunityrecord">
            <salesforce:salesforce-query><![CDATA[${opportunitybyname.select}]]></salesforce:salesforce-query>
            <salesforce:parameters><![CDATA[#[output application/java
---
{
	'opportunityname' : vars.opportunityname
}]]]></salesforce:parameters>
        </salesforce:query>
		<choice doc:name="Choice" doc:id="7f9b778c-8469-47be-b738-47225c8feee9" >
			<when expression="#[vars.opportunityrecord[0].Id != null and vars.opportunityrecord[0].Pricebook2Id != null]">
		 		<ee:transform doc:name="get-products-by-productcodelist-dynamicquery" doc:id="859d9659-60f3-4309-95d4-182533908b8a" >
					<ee:message >
					</ee:message>
					<ee:variables >
						<ee:set-variable resource="dwl/retrieve-productid-from-productcode.dwl" variableName="dynamicquery" />
					</ee:variables>
				</ee:transform>
				<salesforce:query doc:name="get-product-by-productcode" doc:id="4726013d-e565-4bbd-ae8a-a881e5a24ec5" config-ref="Salesforce_Config" target="productlist">
		            <salesforce:salesforce-query><![CDATA[#[vars.dynamicquery.query]]]></salesforce:salesforce-query> 
		        </salesforce:query>
				<ee:transform doc:name="get-pricebookentry-by-productcodelist-dynamicquery" doc:id="d67f59f9-d467-4c21-8d92-0d68c36bc576" >
					<ee:message >
					</ee:message>
					<ee:variables >
						<ee:set-variable resource="dwl/retrieve-pricebookentry-from-productcode.dwl" variableName="dynamicquery" />
					</ee:variables>
				</ee:transform>
				<salesforce:query doc:name="get-product-by-productcode" doc:id="c6253e11-ea93-42f4-98c9-c7d89fb9af7c" config-ref="Salesforce_Config" target="pricebookentrylist">
		            <salesforce:salesforce-query><![CDATA[#[vars.dynamicquery.query]]]></salesforce:salesforce-query> 
		        </salesforce:query>
				<ee:transform doc:name="create-opportunity-product-request" doc:id="9e12384c-49c7-4470-93c3-655659f5f55e" >
					<ee:message >
						<ee:set-payload resource="dwl/create-opportunity-product-request.dwl" />
					</ee:message>
				</ee:transform>
				<salesforce:create type="OpportunityLineItem" doc:name="CreateOpportunityProduct" doc:id="8875faeb-552b-452a-a9e9-6dfea17e8f56" config-ref="Salesforce_Config"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="e9f8168c-e70f-4a4f-a74b-4f759e40cc33" message="#['Opportunity Record doesnot exists or pricebookId is blank']"/>
			</otherwise>
		</choice>
		<ee:transform doc:name="cerate-opportunity-product-response" doc:id="17928864-6be1-462f-82ca-ba3b77bc9cd9">
            <ee:message>
				<ee:set-payload resource="dwl/create-opportunity-product-response.dwl" />
            </ee:message>
        </ee:transform>
	</sub-flow>
	<sub-flow name="remove-opportunityproductSubFlow" doc:id="ab967f30-eb82-4018-86e9-741669d5ada7">
		<salesforce:query doc:name="get-opportunity-by-name" doc:id="cb24f6e0-47a3-4cd9-93fe-c0312958e44a" config-ref="Salesforce_Config" target="opportunityrecord">
            <salesforce:salesforce-query><![CDATA[${opportunitybyname.select}]]></salesforce:salesforce-query>
            <salesforce:parameters><![CDATA[#[output application/java
---
{
	'opportunityname' : vars.opportunityname
}]]]></salesforce:parameters>
        </salesforce:query>
        <choice doc:name="Choice" doc:id="aa097d46-e2a0-4109-87ca-605c08363483" >
			<when expression="#[vars.opportunityrecord[0].Id != null]">
				<ee:transform doc:name="retrieve-products-from-opportunity-dynamicquery" doc:id="06b84357-567a-48c8-b507-c8ed0c421e07" >
					<ee:message >
					</ee:message>
					<ee:variables >
						<ee:set-variable resource="dwl/retrieve-products-from-opportunity.dwl" variableName="dynamicquery" />
					</ee:variables>
				</ee:transform>
				<salesforce:query doc:name="get-product-by-productcode" doc:id="0478f4c6-75c0-49d4-92f4-18129f444be5" config-ref="Salesforce_Config" target="opportunityproductremovelist">
		            <salesforce:salesforce-query><![CDATA[#[vars.dynamicquery.query]]]></salesforce:salesforce-query> 
		        </salesforce:query>
		        <ee:transform doc:name="remove-opportunity-product-request" doc:id="b3e1518b-6ffe-4374-a163-13bd9a0e8654" >
					<ee:message >
						<ee:set-payload resource="dwl/remove-opportunity-product-request.dwl" />
					</ee:message>
				</ee:transform>
				<salesforce:delete doc:name="delete-by-ids" doc:id="cadd0f58-15a4-4a33-b5cb-b0b687658645" config-ref="Salesforce_Config">
					<salesforce:ids ><![CDATA[#[payload]]]></salesforce:ids>
				</salesforce:delete>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="2a88ee93-a418-4139-a540-ee200bd92e80" message="#['Opportunity Record doesnot exists']"/>
			</otherwise>
		</choice>
		<ee:transform doc:name="remove-opportunity-product-response" doc:id="a7d9a12c-e0dd-442a-8c8d-20a1899ec446">
            <ee:message>
				<ee:set-payload resource="dwl/remove-opportunity-product-response.dwl" />
            </ee:message>
        </ee:transform>
	</sub-flow>
	<sub-flow name="get-opportunityquoteSubFlow" doc:id="93069d28-9208-492a-8eef-561691fd8442">
        <salesforce:query doc:name="get-opportunity-by-name" doc:id="037efc89-b744-41f5-bfb5-61e869a79035" config-ref="Salesforce_Config" target="opportunityrecord">
            <salesforce:salesforce-query><![CDATA[${opportunitybyname.select}]]></salesforce:salesforce-query>
            <salesforce:parameters><![CDATA[#[output application/java
---
{
	'opportunityname' : vars.queryparameters.opportunityname
}]]]></salesforce:parameters>
        </salesforce:query>
        <choice doc:name="Choice" doc:id="94c80f1f-3625-4906-93d6-a8e969819af3" >
			<when expression="#[vars.opportunityrecord[0].Id != null]">
				<ee:transform doc:name="retrieve-quote-from-opportunity-dynamicquery" doc:id="42ef022d-0d74-4360-ac02-1687d030ef55" >
					<ee:message >
					</ee:message>
					<ee:variables >
						<ee:set-variable resource="dwl/retrieve-quotes-from-opportunity.dwl" variableName="dynamicquery" />
					</ee:variables>
				</ee:transform>
				<salesforce:query doc:name="get-quote-by-opportunity" doc:id="1384af7c-bdf8-41d0-9aa6-1a37a69b0f94" config-ref="Salesforce_Config" target="opportunityquotes">
		            <salesforce:salesforce-query><![CDATA[#[vars.dynamicquery.query]]]></salesforce:salesforce-query> 
		        </salesforce:query>
				<ee:transform doc:name="retrieve-quotelines-from-opportunity-dynamicquery" doc:id="5dc84db4-87dd-4873-9703-9d1395be56a5" >
					<ee:message >
					</ee:message>
					<ee:variables >
						<ee:set-variable resource="dwl/retrieve-quotelines-from-opportunity.dwl" variableName="dynamicquery" />
					</ee:variables>
				</ee:transform>
				<salesforce:query doc:name="get-quote-by-opportunity" doc:id="3695fe66-651f-4f59-a4e1-dd9ce95d4d50" config-ref="Salesforce_Config" target="opportunityquotelines">
		            <salesforce:salesforce-query><![CDATA[#[vars.dynamicquery.query]]]></salesforce:salesforce-query> 
		        </salesforce:query>
		    </when>
		    <otherwise>
		    	<logger level="INFO" doc:name="Logger" doc:id="95b9fe96-3b60-4d5e-af69-24517293f7cf" message="#['opportunity doesnt exists']"/>
		    </otherwise>
		</choice>
		<ee:transform doc:name="get-opportunity-quote-response" doc:id="49b4f479-1cf9-46f9-ba59-23fed76fb047">
            <ee:message>
				<ee:set-payload resource="dwl/get-quote-by-opportunity-response.dwl" />
            </ee:message>
        </ee:transform>  
    </sub-flow>
	<sub-flow name="create-opportunityquoteSubFlow" doc:id="547ddf0a-8b2c-4266-82db-5b016540d34f">
		<salesforce:query doc:name="get-opportunity-by-name" doc:id="0426b8aa-b8ab-4d38-b922-5d853f29c72b" config-ref="Salesforce_Config" target="opportunityrecord">
            <salesforce:salesforce-query><![CDATA[${opportunitybyname.select}]]></salesforce:salesforce-query>
            <salesforce:parameters><![CDATA[#[output application/java
---
{
	'opportunityname' : vars.opportunityname
}]]]></salesforce:parameters>
        </salesforce:query>
        <choice doc:name="Choice" doc:id="3fee7c76-1405-42e4-af38-cc78c4d3d009" >
			<when expression="#[vars.opportunityrecord[0].Id != null]">
				<ee:transform doc:name="retrieve-products-from-opportunity-dynamicquery" doc:id="9cde4c26-4791-40d4-a605-63f315d152ed" >
					<ee:message >
					</ee:message>
					<ee:variables >
						<ee:set-variable resource="dwl/retrieve-products-from-opportunity.dwl" variableName="dynamicquery" />
					</ee:variables>
				</ee:transform>
				<salesforce:query doc:name="get-products-for-opportunity" doc:id="87b627d4-7c45-411c-bee0-da93f317c8da" config-ref="Salesforce_Config" target="opportunityproduct">
		            <salesforce:salesforce-query><![CDATA[#[vars.dynamicquery.query]]]></salesforce:salesforce-query> 
		        </salesforce:query>
		        <ee:transform doc:name="get-opportunitylines-pricebookentry-dynamicquery" doc:id="23f48f1d-6c9c-43db-8ec6-8d5bf0f8bada" >
					<ee:message >
					</ee:message>
					<ee:variables >
						<ee:set-variable resource="dwl/get-opportunitylines-pricebookentry-dynamicquery.dwl" variableName="dynamicquery" />
					</ee:variables>
				</ee:transform>
				<salesforce:query doc:name="get-opportunitylines-pricebookentry" doc:id="2666f5a9-b788-4d68-a68f-73d05474f016" config-ref="Salesforce_Config" target="pricebookentry">
           			<salesforce:salesforce-query><![CDATA[#[vars.dynamicquery.query]]]></salesforce:salesforce-query> 
        		</salesforce:query>
		    </when>
		    <otherwise>
		    	<logger level="INFO" doc:name="Logger" doc:id="e76c257a-6919-467a-a657-57115809a06f" message="#['Opportunity Record doesnot exists']"/>
		    </otherwise>
		 </choice>
        <ee:transform doc:name="create-opportunity-quote-request" doc:id="e02803a4-5ec4-4a93-bd8a-8ce34a7ed014">
            <ee:message>
				<ee:set-payload resource="dwl/create-opportunity-quote-request.dwl" />
            </ee:message>
        </ee:transform>
        <salesforce:create type="Quote" doc:name="CreateOpportunityQuote" doc:id="8457a059-dad0-40d0-b7dd-79a5d2120e1b" config-ref="Salesforce_Config" target="opportunityquote"/>
		<ee:transform doc:name="create-opportunity-quote-lines-request" doc:id="9c843342-be6e-4bf2-8fa7-915e673be0d1">
            <ee:message>
				<ee:set-payload resource="dwl/create-opportunity-quote-lines-request.dwl" />
            </ee:message>
        </ee:transform>
        <choice doc:name="Choice" doc:id="81822fa1-7eef-40f6-9edb-ba78b4651b22" >
			<when expression="#[vars.opportunityquote.successful == true]">
				<salesforce:create type="QuoteLineItem" doc:name="CreateOpportunityQuoteLines" doc:id="5247d827-cde5-46be-a212-12543f93576a" config-ref="Salesforce_Config" target="opportunityquotelineitem" />
			</when>
			<otherwise>
				<logger level="INFO" doc:name="Logger" doc:id="1af6a853-fb59-455b-9e1e-b0d953c183f8" message="#['Problem creating the quote']"/>
			</otherwise>
		</choice>
		<ee:transform doc:name="create-opportunity-quote-response" doc:id="8203b021-9c46-45c2-94cd-39fbe4517d5d">
            <ee:message>
				<ee:set-payload resource="dwl/create-opportunity-quote-response.dwl" />
            </ee:message>
        </ee:transform>
	</sub-flow>
	<sub-flow name="deletequotesSubFlow" doc:id="8cc2dac1-78fa-492c-b954-57ed8ee8f3c0">
        <ee:transform doc:name="delete-quote-request" doc:id="37ef7466-c2eb-4882-9a86-b2ab0338e224" >
			<ee:message >
				<ee:set-payload resource="dwl/delete-quote-request.dwl" />
			</ee:message>
		</ee:transform>
		 <salesforce:delete doc:name="delete-by-ids" doc:id="2e017e5f-b851-4ca7-a1bd-812aec5a0352" config-ref="Salesforce_Config">
			<salesforce:ids ><![CDATA[#[payload]]]></salesforce:ids>
		</salesforce:delete>
		<ee:transform doc:name="delete-quote-response">
            <ee:message>
				<ee:set-payload resource="dwl/delete-quote-response.dwl" />
            </ee:message>
        </ee:transform>
	</sub-flow>
</mule>
