src/main/mule/product-obj-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	
   <flow name="post:\product:application\json:estore-sfdc-system-api-config">
		<flow-ref doc:name="create-product" doc:id="d7407892-1c8c-4c25-939c-884add599209" name="create-productSubFlow"/>
		<logger level="INFO" doc:name="Logger" doc:id="f8183cce-0bd5-4ab7-94fc-3494ab34d095" message='#[output application/json --- {"message": "create product"}]'/>
    </flow>
    <flow name="post:\deleteproducts:application\json:estore-sfdc-system-api-config">
		<flow-ref doc:name="deleteproductsSubFlow" doc:id="9f6ca929-7112-4b8c-9383-d604cc78ccfb" name="deleteproductsSubFlow"/>
    </flow>
	<flow name="post:\productsbyproductcodelist:application\json:estore-sfdc-system-api-config">
		<flow-ref doc:name="get-products-by-productcodelistSubFlow" doc:id="25044ae7-26e1-405b-b195-376293e0a573" name="get-products-by-productcodelistSubFlow"/>
    </flow>
    <flow name="get:\product\(Id):estore-sfdc-system-api-config">
        <ee:transform doc:name="uri-params">
            <ee:variables>
                <ee:set-variable variableName="Id">attributes.uriParams.'Id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
 		<flow-ref doc:name="get-product-by-idSubFlow" doc:id="2d424f00-b13b-4218-8ec1-f16eb92abb4f" name="get-product-by-idSubFlow"/>
 		<!-- <flow-ref doc:name="get-price-by-productcode-currencySubFlow" doc:id="44149926-e0c8-4e8b-bc93-75eb04fd8aeb" name="get-price-by-productcode-currencySubFlow"/> -->
    </flow>
   <flow name="post:\pricebookentry:application\json:estore-sfdc-system-api-config">
		<flow-ref doc:name="create-pricebookentrySubFlow" doc:id="33e28cb6-9e51-45c0-96d9-fb77f394c5f2" name="create-pricebookentrySubFlow"/>
		<logger level="INFO" doc:name="Logger" doc:id="145ba1ec-4ff9-46c8-baad-12d3775bf5ac" message='#[output application/json --- {"message": "create pricebookentry"}]'/>
    </flow>
    <sub-flow name="create-productSubFlow" doc:id="e65a969a-0011-46ef-b851-550ecc8e2015">
		<ee:transform doc:name="create-product-request" doc:id="d7b7c8fc-8bcb-4e42-a631-caf4a792ec35" >
			<ee:message >
				<ee:set-payload resource="dwl/create-product-request.dwl" />
			</ee:message>
		</ee:transform>
		<salesforce:create type="Product2" doc:name="CreateProduct" doc:id="195f7396-e7af-47e3-82d6-8d6b67b8d462" config-ref="Salesforce_Config"/>
		<ee:transform doc:name="create-product-response">
            <ee:message>
				<ee:set-payload resource="dwl/create-product-response.dwl" />
            </ee:message>
        </ee:transform>
	</sub-flow>
	<sub-flow name="deleteproductsSubFlow" doc:id="a2b5f975-d8da-4ee2-aa9c-95ea9fcc3697">
        <ee:transform doc:name="delete-product-request" doc:id="f3a72e2c-6ebe-43d9-a48e-8a3860360d24" >
			<ee:message >
				<ee:set-payload resource="dwl/delete-product-request.dwl" />
			</ee:message>
		</ee:transform>
		 <salesforce:delete doc:name="delete-by-ids" doc:id="3538fc93-2545-4bf7-9373-241488fabe76" config-ref="Salesforce_Config">
			<salesforce:ids ><![CDATA[#[payload]]]></salesforce:ids>
		</salesforce:delete>
		<ee:transform doc:name="delete-lead-response">
            <ee:message>
				<ee:set-payload resource="dwl/delete-lead-response.dwl" />
            </ee:message>
        </ee:transform>
	</sub-flow>
	<sub-flow name="get-product-by-idSubFlow" doc:id="3505da82-099a-43d8-87fe-5012a5a02298">
		<salesforce:query doc:name="get-product-by-id" doc:id="3965445a-4534-4b96-8984-1a02a394a969" config-ref="Salesforce_Config">
            <salesforce:salesforce-query><![CDATA[${productbyid.select}]]></salesforce:salesforce-query>
            <salesforce:parameters><![CDATA[#[output application/java
---
{
	'Id' : vars.Id
}]]]></salesforce:parameters>
        </salesforce:query>
        <ee:transform doc:name="get-product-y-id-response" doc:id="fb5ef9f1-353d-4040-a348-ecd3115452ac">
            <ee:message>
				<ee:set-payload resource="dwl/get-product-by-id-response.dwl" />
            </ee:message>
        </ee:transform>
	</sub-flow>
	<sub-flow name="get-price-by-productcode-currencySubFlow" doc:id="f4c276f2-bafd-4f71-a35e-ad22c4d1d1e1">
        <salesforce:query doc:name="get-product-by-id" doc:id="5451f9ac-6c59-4eb9-a593-104fae29de2d" config-ref="Salesforce_Config">
            <salesforce:salesforce-query><![CDATA[${pricebook.select}]]></salesforce:salesforce-query>
        </salesforce:query>
        <ee:transform doc:name="get-product-by-id-response" doc:id="478749d8-8ae8-4543-abd3-92a9f3fbcbd2">
            <ee:message>
				<ee:set-payload resource="dwl/get-product-by-productcode-currency-response.dwl" />
            </ee:message>
        </ee:transform>
	</sub-flow>
	<sub-flow name="get-products-by-productcodelistSubFlow" doc:id="59d9d866-d704-41c4-8701-5e3cafd3d637">
        <ee:transform doc:name="get-products-by-productcodelist-dynamicquery" doc:id="374c509e-4bf4-491a-96c3-38e2e7a812d8" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable resource="dwl/get-products-by-productcodelist-dynamicquery.dwl" variableName="dynamicquery" />
			</ee:variables>
		</ee:transform>
		<salesforce:query doc:name="get-product-by-productcode" doc:id="0428bb02-ac0e-47b2-9a21-4d073404a477" config-ref="Salesforce_Config">
           <!--  <salesforce:salesforce-query><![CDATA[${productbyproductcodelist.select}]]></salesforce:salesforce-query> -->
            <salesforce:salesforce-query><![CDATA[#[vars.dynamicquery.query]]]></salesforce:salesforce-query> 
        </salesforce:query>
        <ee:transform doc:name="get-products-by-productcodelist-response" doc:id="8188558e-f70a-4056-a7f7-3d9620662b6e">
            <ee:message>
				<ee:set-payload resource="dwl/get-products-by-productcodelist-response.dwl" />
            </ee:message>
        </ee:transform>
	</sub-flow>
	<sub-flow name="create-pricebookentrySubFlow" doc:id="0bc477a5-0635-4273-bdec-6ca3957b38db">
		<salesforce:query doc:name="get-pricebook-by-name" doc:id="cf054bdc-c1dd-4f02-acfe-940dfe73dba9" config-ref="Salesforce_Config" target="pricebook">
            <salesforce:salesforce-query><![CDATA[${pricebookbyname.select}]]></salesforce:salesforce-query>
            <salesforce:parameters><![CDATA[#[output application/java
---
{
	'pricebookname' : payload[0].pricebookname
}]]]></salesforce:parameters>
        </salesforce:query>
		<salesforce:query doc:name="get-product-by-productcode" doc:id="7376f143-87e8-4b15-bb08-e01052dfe7fe" config-ref="Salesforce_Config" target="productbyproductcode">
            <salesforce:salesforce-query><![CDATA[${productbyproductcode.select}]]></salesforce:salesforce-query>
            <salesforce:parameters><![CDATA[#[output application/java
---
{
	'productcode' : payload[0].productcode
}]]]></salesforce:parameters>
        </salesforce:query>
		<ee:transform doc:name="create-pricebookentry-request" doc:id="156501b2-9253-4ed8-9ecc-ea4a2e3acae6" >
			<ee:message >
				<ee:set-payload resource="dwl/create-pricebookentry-request.dwl" />
			</ee:message>
		</ee:transform>
		<salesforce:create type="PricebookEntry" doc:name="CreatePricebookEntry" doc:id="7d73cb3f-4807-47c1-8f50-a99ee1d806d8" config-ref="Salesforce_Config"/>
		<ee:transform doc:name="create-pricebookentry-response">
            <ee:message>
				<ee:set-payload resource="dwl/create-pricebookentry-response.dwl" />
            </ee:message>
        </ee:transform>
	</sub-flow>
</mule>
